<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sap.icn.mappers">
    <select id="selectOneCity" resultType="com.sap.icn.hello.ibatissample.City">
        select id, name from city where id = #{id}
    </select>
</mapper>